@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{ Layout = "master.cshtml";

    var listDescription = Model.HeroDescription.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.RemoveEmptyEntries);
    var image = Model.Value<IPublishedContent>("SiteLogo");
    var a = Model.Value<IPublishedContent>("HeroDescription") ;}
    <div style="text-align: right; margin-right: 20px;margin-top: 21px;"><small class="font-weight-bold">English</small></div>
    <div class="text-center imgLogoIP"> <img src="@image.Url" /></div>
    <section class="text-center texthome a">


        <p style="color:black;" id="WellComeHome"><strong>Welcom To </strong>@Model.Wellcome ™</p>
        <div class="section__hero-content" id="contentHome">


            @foreach (var item in listDescription)
            {
<p class="section__description" id="description">@item</p>}


        </div>
        <button class="btn btn-lg btn-primary btn-block mx-auto" id="buttonStartHome" type="submit">Get Started</button>
        <div style="margin-top:20px"><a href="/Login" id="LoginHome">Login</a></div>
    </section>
    <footer>
        <p style="text-align: center;">Created and Powered by</p>
    </footer>




