@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.IntellectualProperty>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var image = Model.Value<IPublishedContent>
 ("SiteLogo");
    ViewBag.Title = "Register";
}


<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
    header hr {
        height: 10px;
        border-top: 1px solid rgba(0, 0, 0, 35.1);
        width: 90%;
        margin-left: 0px;
    }

    header {
        opacity: 0.9;
        position: fixed !important;
        top: 0;
        width: 100%;
        display: block;
        background-color: #fff;
        z-index: 999;
    }

    .w3-blue {
        height: 1px;
        width: 100%;
        background-color: #007f9c !important;
    }

    main {
        padding-left: 37px;
        padding-right: 37px;
    }

    .title-content {
        font-size: 24px;
        font-weight: bold;
        font-family: 'Raleway';
        float: left;
    }

    .body-content {
        font-size: 14pt;
        font-family: 'Calibri,Light';
        float: left;
    }

    /* .wapper {
          width: 375px;
          padd
        } */

    .wapper {
        padding-left: 37px;
    }
</style>
<div class="text-left" style="height: 161px;">
    <div style="display: flex;">
        <div style="margin-top: 50px;">
            <img width="50" height="50" src="@image.Url" />
        </div>
        <div style="margin-top: 75px; margin-left: 20px;font-size:15px;font-family: 'Raleway,Medium';">
            <p>Intellectual Property</p>
        </div>
    </div>
    <div class="w3-blue">
        <div id="myBar"
             class="w3-container w3-center"
             style="width: 20%; background-color: #007f9c; height: 4px;"></div>
    </div>
    <div style="margin-top: 40px;">
        <p class="title-content">@Model.Header</p>
    </div>
    <br />
    <div>
        <p style="font-size:15px;font-family: 'Calibri';">
            @Model.Des1
        </p>
    </div>
    <div class="row" style="margin-left: 0px;">
        <div style="background-color: #5B2080;width: 141px;height: 141px; margin-right:19px;display: inline-block;border-radius: 20px;">
            <i class='fas fa-scroll' style="width: 30px;height:24px;color: white;margin-top: 42px;margin-left: 56px;"></i>
            <p style="margin-top: 13px;margin-left: 44px;color:white;font-family: 'Raleway';font-size:18px">
                Patent
            </p>
            <button style="background-color:white;border-radius:100%;width: 40px;height: 40px;border:white;position: absolute;margin-left: 118px;margin-top: -70px;">
                <i class="fa fa-question" style="color:#5B2080"></i>
            </button>
        </div>
        <div style="background-color: #7A58A1;width: 141px;height: 141px;display: inline-block;border-radius: 20px;">
            <p style="width: 30px;height:24px;color: white;margin-top: 42px;margin-left: 56px;">
                TM
            </p>
            <p style="margin-top: 13px;margin-left: 26px;color:white;font-family: 'Raleway';font-size:18px">
                Trademark
            </p>
            <button style="background-color:white;border-radius:100%;width: 40px;height: 40px;border:white;position: absolute;margin-left: 118px;margin-top: -70px;">
                <i class="fa fa-question" style="color:#5B2080"></i>
            </button>
        </div>
    </div>

    <div class="row" style="margin-left: 0px;margin-top:20px">
        <div style="background-color: #3C8D74;width: 141px;height: 141px; margin-right:19px;display: inline-block;border-radius: 20px;">
            <i class='fas fa-pencil-ruler' style="width: 30px;height:24px;color: white;margin-top: 42px;margin-left: 56px;"></i>
            <p style="margin-top: 13px;margin-left: 44px;color:white;font-family: 'Raleway';font-size:18px">
                Design
            </p>
            <button style="background-color:white;border-radius:100%;width: 40px;height: 40px;border:white;position: absolute;margin-left: 118px;margin-top: -70px;">
                <i class="fa fa-question" style="color:#5B2080"></i>
            </button>
        </div>
        <div style="background-color: #096E4A;width: 141px;height: 141px;display: inline-block;border-radius: 20px;">
            <i class='fa fa-copyright' style="width: 30px;height:24px;color: white;margin-top: 42px;margin-left: 59px;"></i>
            <p style="margin-top: 13px;margin-left: 30px;color:white;font-family: 'Raleway';font-size:18px">
                Copyright
            </p>
            <button style="background-color:white;border-radius:100%;width: 40px;height: 40px;border:white;position: absolute;margin-left: 118px;margin-top: -70px;">
                <i class="fa fa-question" style="color:#5B2080"></i>
            </button>
        </div>
    </div>
</div>


