@inherits Umbraco.Web.Mvc.UmbracoViewPage<Login>
    @using ContentModels = Umbraco.Web.PublishedModels;
    @{
    Layout = "master.cshtml";
    var image = Model.Value<IPublishedContent>
        ("SiteLogo");
        ViewBag.Title = "Register";

        }
        <div style="text-align: right; margin-right: 20px;margin-top: 21px;"><small>English</small></div>
        <div class="text-center" sty> <img src="@image.Url" /></div>
        @{Html.RenderAction("MemberLogin", "Member");}

