body {

    h1 {
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
    }

    h2 {
        font-family: Raleway;
        font-style: normal;
        font-variant: normal;
    }

    h3 {
        font-family: Raleway;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
    }

    p {
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
    }

    label {
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
    }


    blockquote {
        font-family: Raleway;
        font-size: 21px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 30px;
    }

    pre {
        font-family: Raleway;
        font-size: 13px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 18.5714px;
    }

    .theme-font-serif p {
        margin-bottom: 0 !important;
    }
}
.imgLogoIP{
    margin-top:53pt;
}
.field-icon {
    float: right;
    margin-right: 34px;
    margin-top: -28px;
    position: relative;
    z-index: 2;
}
.input-width{
    width:90%;
}
.sectionLogin {
    margin-left: 31pt;
}
#Home {
    margin-top: 150px;

}
#WellComeHome {
    font-size: x-large;
    color: black;
}
#contentHome {
    
    margin-top: 50px;
}
#description {
    margin-bottom: 0 !important;
    line-height: 40px;
    color: black;
}
.texthome{
    margin-top:31pt;
}
.buttonStartHome {
    display: block;
    width: 90%;
    background-color: #007F9C;
    border-radius: .6rem;
    margin-top: 75px;
}
#LoginHome
{
    top:511px;
}
.border-IPE {
    height: 94px;
    padding: 29px;
    border: 1px solid #0094ff !important;
    border-radius: 20px;
    border-style: solid none;
    text-align: center;
}
.btnCreate{
    width:100%;
}


* {
    box-sizing: border-box;
}




// add outer border for styling effect
.wrapper_Ranger {
    border: 1px solid #E1E1E1;
    padding: 5px;
    width: 100%;
}
// main fill
.rangeslider, .rangeslider__fill {
    box-shadow: none !important;
    webkit-box-shadow: none !important;
    border-radius: 0 !important;
    height: 10px !important;
    background-color: #F6AA2A !important;
}
// thumb/pointer
.rangeslider--horizontal .rangeslider__handle {
    top: -12px !important;
    width: 50px;
    height: 30px;
    border-radius: 0;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C0A88B;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.125);
    webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.125);
    color: white;
    position: relative;
    z-index: 4;
    font-weight: 400;
    // add "pointer" on thumb
    &:before {
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        bottom: -25px;
        z-index: -1;
        background-color: #C0A88B;
        height: 100%;
        border-radius: 0;
    }

    &:after {
        content: '';
        width: 15px;
        position: absolute;
        bottom: -25px;
        z-index: -2;
        transform: rotate(45deg);
        background-color: #C0A88B;
        height: 15px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.125);
        webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.125);
        border-radius: 0;
    }
}
.active {
    background-color: #007F9C;
}
header .table td {
    border: none;
}
